<div class="main-container">
	<!-- style="display: flex; flex-direction: row; align-items: center; gap: 8px" -->
	<div class="report-options" [matMenuTriggerFor]="previewsMenu">
		<div style="display: flex; flex-direction: row; align-items: center; gap: 8px">
			<mat-icon class="item-icon" fontSet="material-icons-round">preview</mat-icon>
			<span class="item-text">Report Previews</span>
			<mat-icon class="item-expand-icon" fontSet="material-icons-round">chevron_right</mat-icon>
		</div>
	</div>

	<ng-container *ngIf="endpointsConfig">
		<copyleaks-web-report
			class="desktop-view"
			[lockedResultTemplateRef]="lockedResultTemplateRef"
			[reportEndpointConfig]="endpointsConfig"
			[showDisabledProducts]="showCustomResults && reportView === 1"
			(onCompleteResultUpdate)="onCompleteResultUpdate($event)"
			(onReportRequestError)="onReportRequestError($event)">
			<!-- Custom Actions -->
			<cr-actions>
				<div style="padding: 8px 0 4px; display: flex; flex-direction: row; margin-left: auto; gap: 8px">
					<mat-icon fontSet="material-icons-round">download</mat-icon>
					<mat-icon fontSet="material-icons-round">share</mat-icon>
					<mat-icon fontSet="material-icons-round">info</mat-icon>
				</div>
			</cr-actions>

			<!-- Custom results empty state -->
			<cr-custom-empty-results *ngIf="showCustomEmptyResults">
				<div class="custom-empty-state-container" style="display: flex; flex-direction: column; gap: 8px">
					<cr-empty-result-state></cr-empty-result-state>
					<div class="text-container" style="display: flex; flex-direction: column; gap: 4px">
						<span style="font-size: 18px; font-style: normal; font-weight: 700">
							Why am I not seeing anything here?
						</span>
						<span>
							With Copyleaks, you can rest assured you're getting unprecedented search results​. Every scan searches
							across:
						</span>
						<div>
							<div style="display: flex; flex-direction: row; gap: 8px">
								<svg xmlns="http://www.w3.org/2000/svg" width="28" height="24" viewBox="0 0 28 24" fill="none">
									<path
										d="M22.5784 12.1271C22.5784 18.3619 17.524 23.4163 11.2892 23.4163C5.05434 23.4163 0 18.3619 0 12.1271C0 5.89223 5.05434 0.837891 11.2892 0.837891C17.524 0.837891 22.5784 5.89223 22.5784 12.1271Z"
										fill="#052D8B" />
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M26.6726 1.77315C27.5819 2.76634 27.5139 4.30861 26.5207 5.2179L13.5662 17.0781C12.5938 17.9684 11.0899 17.9244 10.1712 16.979L5.21562 11.8792C4.2772 10.9135 4.29933 9.36991 5.26505 8.4315C6.23077 7.49308 7.77438 7.51521 8.71279 8.48093L12.019 11.8833L23.2278 1.62125C24.221 0.711955 25.7633 0.779965 26.6726 1.77315Z"
										fill="#00DB9B" />
								</svg>
								<span>16,000+ open-access journals</span>
							</div>

							<div style="display: flex; flex-direction: row; gap: 8px">
								<svg xmlns="http://www.w3.org/2000/svg" width="28" height="24" viewBox="0 0 28 24" fill="none">
									<path
										d="M22.5784 12.1271C22.5784 18.3619 17.524 23.4163 11.2892 23.4163C5.05434 23.4163 0 18.3619 0 12.1271C0 5.89223 5.05434 0.837891 11.2892 0.837891C17.524 0.837891 22.5784 5.89223 22.5784 12.1271Z"
										fill="#052D8B" />
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M26.6726 1.77315C27.5819 2.76634 27.5139 4.30861 26.5207 5.2179L13.5662 17.0781C12.5938 17.9684 11.0899 17.9244 10.1712 16.979L5.21562 11.8792C4.2772 10.9135 4.29933 9.36991 5.26505 8.4315C6.23077 7.49308 7.77438 7.51521 8.71279 8.48093L12.019 11.8833L23.2278 1.62125C24.221 0.711955 25.7633 0.779965 26.6726 1.77315Z"
										fill="#00DB9B" />
								</svg>
								<span>20+ code data repositories</span>
							</div>

							<div style="display: flex; flex-direction: row; gap: 8px">
								<svg xmlns="http://www.w3.org/2000/svg" width="28" height="24" viewBox="0 0 28 24" fill="none">
									<path
										d="M22.5784 12.1271C22.5784 18.3619 17.524 23.4163 11.2892 23.4163C5.05434 23.4163 0 18.3619 0 12.1271C0 5.89223 5.05434 0.837891 11.2892 0.837891C17.524 0.837891 22.5784 5.89223 22.5784 12.1271Z"
										fill="#052D8B" />
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M26.6726 1.77315C27.5819 2.76634 27.5139 4.30861 26.5207 5.2179L13.5662 17.0781C12.5938 17.9684 11.0899 17.9244 10.1712 16.979L5.21562 11.8792C4.2772 10.9135 4.29933 9.36991 5.26505 8.4315C6.23077 7.49308 7.77438 7.51521 8.71279 8.48093L12.019 11.8833L23.2278 1.62125C24.221 0.711955 25.7633 0.779965 26.6726 1.77315Z"
										fill="#00DB9B" />
								</svg>
								<span>60 trillion websites</span>
							</div>

							<div style="display: flex; flex-direction: row; gap: 8px">
								<svg xmlns="http://www.w3.org/2000/svg" width="28" height="24" viewBox="0 0 28 24" fill="none">
									<path
										d="M22.5784 12.1271C22.5784 18.3619 17.524 23.4163 11.2892 23.4163C5.05434 23.4163 0 18.3619 0 12.1271C0 5.89223 5.05434 0.837891 11.2892 0.837891C17.524 0.837891 22.5784 5.89223 22.5784 12.1271Z"
										fill="#052D8B" />
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M26.6726 1.77315C27.5819 2.76634 27.5139 4.30861 26.5207 5.2179L13.5662 17.0781C12.5938 17.9684 11.0899 17.9244 10.1712 16.979L5.21562 11.8792C4.2772 10.9135 4.29933 9.36991 5.26505 8.4315C6.23077 7.49308 7.77438 7.51521 8.71279 8.48093L12.019 11.8833L23.2278 1.62125C24.221 0.711955 25.7633 0.779965 26.6726 1.77315Z"
										fill="#00DB9B" />
								</svg>
								<span>1M+ internal documents</span>
							</div>
						</div>
						<span>
							So when no results are found, that simply means after a thorough search, we found no matching results.
						</span>
					</div>
				</div>
			</cr-custom-empty-results>

			<!-- Custom report tab with content -->
			<cr-custom-tabs *ngIf="showCustomAiTab || showCustomPlagiairsmTab">
				<cr-custom-tab-item [flexGrow]="0.3">
					<cr-custom-tab-item-title>
						<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
							<span class="custom-tab-title">Check for {{ showCustomAiTab ? 'plagiarism' : 'AI' }}</span>
							<img src="../../../assets/images/icons/crown.svg" alt="" />
						</div>
					</cr-custom-tab-item-title>
					<cr-custom-tab-item-content>
						<demo-custom-results-box-item [lockResultItem]="lockResultItem"></demo-custom-results-box-item>
					</cr-custom-tab-item-content>
				</cr-custom-tab-item>
			</cr-custom-tabs>

			<!-- custom results -->
			<cr-custom-results *ngIf="showCustomResults" [reportView]="reportView">
				<cr-custom-results-box-content>
					<demo-custom-results-box-item [lockResultItem]="lockResultItem"></demo-custom-results-box-item>
				</cr-custom-results-box-content>
			</cr-custom-results>
		</copyleaks-web-report>
	</ng-container>

	<!-- Custom locked results template ref -->
	<ng-template #lockedResultTemplateRef let-result="result">
		<div class="locked-result-container">
			<div class="locked-result-container-header">
				<mat-icon>lock</mat-icon>
				<span>Locked Result</span>
			</div>
			<div class="locked-result-container-body">Locked results are only viewable after report has been saved.</div>
			<div class="locked-result-container-actions">
				<cr-button (click)="lockedResultClick(result)">Save Report</cr-button>
			</div>
		</div>
	</ng-template>
</div>
<mat-menu #previewsMenu="matMenu">
	<button mat-menu-item style="width: 200px" (click)="navigateToReportPreview('bundle/sample-report')">
		<mat-icon class="item-icon" fontSet="material-icons-round">grading</mat-icon>
		<span class="item-text">Sample Report</span>
	</button>

	<button mat-menu-item [matMenuTriggerFor]="bundleMenu" style="width: 200px">
		<mat-icon class="item-icon" fontSet="material-icons-round">view_agenda</mat-icon>
		<span class="item-text">Bundle</span>
	</button>

	<button mat-menu-item [matMenuTriggerFor]="plagiarismMenu" style="width: 200px">
		<mat-icon class="item-icon" fontSet="material-icons-round">flag_circle</mat-icon>
		<span class="item-text">Plagiairsm Only</span>
	</button>

	<button mat-menu-item style="width: 200px" (click)="navigateToReportPreview('ai-only/default')">
		<mat-icon class="item-icon" fontSet="material-icons-round">smart_toy</mat-icon>
		<span class="item-text">AI Only</span>
	</button>

	<button mat-menu-item style="width: 200px" (click)="navigateToReportPreview('all-disabled/default')">
		<mat-icon class="item-icon" fontSet="material-icons-round">error</mat-icon>
		<span class="item-text">Report Unavailable</span>
	</button>

	<button mat-menu-item style="width: 200px" (click)="navigateToReportPreview('real-time/both')">
		<mat-icon class="item-icon" fontSet="material-icons-round">visibility</mat-icon>
		<span class="item-text">Real-time Report</span>
	</button>
</mat-menu>

<mat-menu #plagiarismMenu="matMenu">
	<button
		(click)="navigateToReportPreview('plagiairsm-only/batch')"
		matTooltipPosition="right"
		matTooltip="Report With Batch Result Example"
		mat-menu-item>
		<mat-icon class="item-icon" fontSet="material-icons-round">batch_prediction</mat-icon>
		<span class="item-text">Batch</span>
	</button>

	<button
		(click)="navigateToReportPreview('plagiairsm-only/cross-language')"
		matTooltipPosition="right"
		matTooltip="Report With Batch Result Example"
		mat-menu-item>
		<mat-icon class="item-icon" fontSet="material-icons-round">translate</mat-icon>
		<span class="item-text">Cross Language</span>
	</button>

	<button
		(click)="navigateToReportPreview('plagiairsm-only/more-than-100-results')"
		matTooltipPosition="right"
		matTooltip="Report With Batch Result Example"
		mat-menu-item>
		<mat-icon class="item-icon" fontSet="material-icons-round">reorder</mat-icon>
		<span class="item-text">100+ Results</span>
	</button>

	<button
		(click)="navigateToReportPreview('plagiairsm-only/partial-report')"
		matTooltipPosition="right"
		matTooltip="Partial Report Example"
		mat-menu-item>
		<mat-icon class="item-icon" fontSet="material-icons-round">hourglass_top</mat-icon>
		<span class="item-text">Partial Report</span>
	</button>
</mat-menu>

<mat-menu #bundleMenu="matMenu">
	<button
		(click)="navigateToReportPreview('bundle/default')"
		matTooltip="Scanned Website Example"
		matTooltipPosition="right"
		mat-menu-item>
		<mat-icon class="item-icon" fontSet="material-icons-round">code</mat-icon>
		<span class="item-text">HTML</span>
	</button>
	<button
		(click)="navigateToReportPreview('bundle/Filter')"
		matTooltipPosition="right"
		matTooltip="Scanned PDF Example"
		mat-menu-item>
		<mat-icon class="item-icon" fontSet="material-icons-round">picture_as_pdf</mat-icon>
		<span class="item-text">PDF</span>
	</button>
	<button
		(click)="navigateToReportPreview('bundle/ai-content', 'suspected-ai-text')"
		matTooltipPosition="right"
		matTooltip="Suspected AI Text Example"
		mat-menu-item>
		<mat-icon class="item-icon" fontSet="material-icons-round">smart_toy</mat-icon>
		<span class="item-text">AI</span>
	</button>
	<button
		(click)="navigateToReportPreview('bundle/both')"
		matTooltipPosition="right"
		matTooltip="Suspected AI Text Example"
		mat-menu-item>
		<mat-icon class="item-icon" fontSet="material-icons-round">circle</mat-icon>
		<span class="item-text">Both</span>
	</button>

	<button
		(click)="navigateToReportPreview('repository/both')"
		matTooltipPosition="right"
		matTooltip="Scan With Repository Results Example"
		mat-menu-item>
		<mat-icon class="item-icon" fontSet="material-icons-round">storage</mat-icon>
		<span class="item-text">Repository + Locked Results</span>
	</button>

	<button
		(click)="navigateToReportPreview('bundle/default', 'suspected-character-replacement')"
		matTooltipPosition="right"
		matTooltip="Suspected Character Replacement Example"
		mat-menu-item>
		<mat-icon class="item-icon" fontSet="material-icons-round">text_fields</mat-icon>
		<span class="item-text">SCR</span>
	</button>

	<button
		(click)="navigateToReportPreview('bundle/custom-empty-state')"
		matTooltipPosition="right"
		matTooltip="Custom Empty State Example"
		mat-menu-item>
		<mat-icon class="item-icon" fontSet="material-icons-round">edit</mat-icon>
		<span class="item-text">Custom Empty State</span>
	</button>
</mat-menu>
