<section class="layout-section">
  <h1>One-to-many Layout - Desktop</h1>
  <copyleaks-plagiarism-report
    [reportLayoutType]="ReportLayoutType.OneToMany"
  ></copyleaks-plagiarism-report>
</section>

<div class="divider"></div>

<section class="layout-section">
  <h1>One-to-one Layout - Desktop</h1>
  <copyleaks-plagiarism-report
    [reportLayoutType]="ReportLayoutType.OneToOne"
  ></copyleaks-plagiarism-report>
</section>

<div class="divider"></div>

<section class="layout-section">
  <h1>One-to-many Layout - Mobile</h1>
  <copyleaks-plagiarism-report
    class="mobile-view"
    [reportLayoutType]="ReportLayoutType.OneToMany"
    [responsiveLayoutType]="ResponsiveLayoutType.Mobile"
  ></copyleaks-plagiarism-report>
</section>

<div class="divider"></div>

<section class="layout-section">
  <h1>One-to-one Layout - Mobile</h1>
  <copyleaks-plagiarism-report
    class="mobile-view"
    [reportLayoutType]="ReportLayoutType.OneToOne"
    [responsiveLayoutType]="ResponsiveLayoutType.Mobile"
  ></copyleaks-plagiarism-report>
</section>
