@use '@angular/material' as mat;

// Include the common styles for Angular Material
@include mat.core();

// Define the typography config function.
$custom-typography: mat.define-typography-config(
	$font-family: 'Open Sans, sans-serif',
);

// Add typography definitions.
@include mat.all-component-typographies($custom-typography);

html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}
