/* You can add global styles to this file, and also import other style files */
// @use '@angular/material' as mat;

// @include mat.core();

html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}
