<cr-filter-result-dailog></cr-filter-result-dailog>
<div class="report-results-item-container">
	<span>scroll result item</span>
	<copyleaks-report-results-container
		[allResultsItem]="allResultsItem"
		[reportResponsive]="eResponsiveLayoutType.Desktop"></copyleaks-report-results-container>
</div>

<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
	<!-- Results item -->
	<div class="component-conatiner" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
		<span>Results item one-to-many</span>
		<div class="results-item-container">
			<cr-report-results-item [resultItem]="resultItem"></cr-report-results-item>
		</div>
		<span>Results item one-to-one</span>
		<div class="results-item-container">
			<cr-report-expand-result-item [resultItem]="resultItem"></cr-report-expand-result-item>
		</div>
	</div>

	<!-- lock Result -->
	<div class="component-conatiner" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="2px">
		<span>Lock Result</span>
		<div class="component">
			<cr-lock-result-item [lockResultItem]="lockResultItem"></cr-lock-result-item>
		</div>
	</div>
	<!-- Empty state -->
	<div class="component-conatiner" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="2px">
		<span>Empty state :</span>
		<div class="component" fxLayout="column" fxLayoutAlign="center center">
			<div class="empty-result-state-conatainer">
				<cr-empty-result-state></cr-empty-result-state>
			</div>
		</div>
	</div>
	<!--  ------------ -->

	<!-- Results Actions -->
	<div class="component-conatiner" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="2px">
		<span>Results Actions :</span>
		<div class="component">
			<cr-results-actions [resultsActions]="resultsActions"></cr-results-actions>
		</div>
	</div>
	<!--  ------------ -->

	<!-- Alerts -->
	<div class="component-conatiner" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="2px">
		<span>Alerts :</span>
		<div class="component" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="8px">
			<cr-alert-card class="alert-card-component" [alert]="alert"></cr-alert-card>
			<cr-author-alert-card class="author-alert-card-component" [authorAlert]="authorAlert"></cr-author-alert-card>
		</div>
	</div>
	<!--  ------------ -->

	<!-- Powered By -->
	<div class="component-conatiner" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="2px">
		<span>Power by Copyleaks :</span>
		<div class="component">
			<cr-powered-by></cr-powered-by>
		</div>
	</div>
	<!--  ------------ -->
</div>
