@import '../../../../../copyleaks-web-report/src/lib/styles/website-colors.styles.scss';
:host {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.component-conatiner {
	span {
		font-size: 14px;
		font-weight: 500;
	}

	.component {
		width: 700px;
		padding: 10px;
		border-radius: 10px;
		background-color: $color-white;
	}
}
