@import '../../../../../copyleaks-web-report/src/lib/styles/website-colors.styles.scss';
:host {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.report-results-item-container {
	copyleaks-report-results-item-container {
		height: 410px;
	}
}
.component-conatiner {
	width: 100%;
	.results-item-container {
		width: 100%;
		background-color: $color-white;
		border-radius: 10px;
		padding: 5px;
	}
	span {
		font-size: 14px;
		font-weight: 500;
	}

	.component {
		width: 700px;
		padding: 10px;
		border-radius: 10px;
		background-color: $color-white;
		.empty-result-state-conatainer {
			width: 350px;
			height: 400px;
		}
	}
}
