@import '../../../../../copyleaks-web-report/src/lib/styles/website-colors.styles.scss';

:host {
	width: 100%;
	display: flex;
	justify-content: center;

	.custom-tab-title {
		color: #3f9af5;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		text-decoration: none;
	}

	.custom-tab-title:hover {
		text-decoration: underline;
	}

	mat-icon {
		color: #a0a9bf;
		width: 24px;
		height: 24px;
		font-size: 24px;
		cursor: pointer;
	}

	mat-icon:hover {
		color: #3f9af5;
	}

	copyleaks-web-report {
		width: 100%;
	}

	.custom-empty-state-container {
		padding: 30px;
		cr-empty-result-state {
			height: 300px;
		}
		.text-container {
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}

	.locked-result-container {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 10px;
		.locked-result-container-header {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 4px;
			color: $color-black;
			mat-icon {
				color: $color-black !important;
				font-size: 18px;
				line-height: 18px;
				width: 18px;
				height: 18px;
			}
			span {
				font-size: 18px;
				font-weight: 600;
			}
		}
		.locked-result-container-body {
			flex: 1;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			color: $color-black;
		}
		.locked-result-container-actions {
			display: flex;
			justify-content: center;
		}
	}
}
