<copyleaks-web-report class="desktop-view" [reportEndpointConfig]="endpointsConfig">
	<cr-actions>
		<div style="display: flex; flex-direction: row; margin-left: auto; gap: 8px">
			<mat-icon fontSet="material-icons-round">info</mat-icon>
			<mat-icon fontSet="material-icons-round">download</mat-icon>
			<mat-icon fontSet="material-icons-round">share</mat-icon>
		</div>
	</cr-actions>

	<cr-custom-tabs>
		<cr-custom-tab-item [flexGrow]="0.2">
			<cr-custom-tab-item-title><a href="">Custom Tab</a></cr-custom-tab-item-title>
			<cr-custom-tab-item-content>
				<img src="../../../assets/images/icons/crown.svg" alt="" />
			</cr-custom-tab-item-content>
		</cr-custom-tab-item>
	</cr-custom-tabs>
</copyleaks-web-report>
