:host {
	width: 100vw;
	height: 100vh;
	::ng-deep {
		.mat-list-item-content {
			display: flex !important;
			flex-direction: row !important;
			align-items: center !important;
			width: 100% !important;
			gap: 8px !important;
			height: fit-content !important;

			.item-expand-icon {
				display: none;
				position: absolute;
				right: -4px;
			}

			.item-expand-icon:hover {
				color: #3f9af5;
			}
		}

		.mat-list-item-content:hover {
			.item-expand-icon {
				display: block;
			}
		}
	}

	mat-sidenav {
		display: block;
	}
	.options-btn {
		display: none;
		padding: 10px;
	}

	.options-btn:hover {
		color: #3f9af5;
	}

	@media (max-width: 1024px) {
		mat-sidenav {
			display: none;
		}

		.options-btn {
			display: block;
		}
	}
}

.sidenav-container {
	height: calc(100vh - 56px);
	background-color: #ecf3f5;
}

mat-toolbar {
	border-radius: 0px 32px 0px 0px;
	background: #fbffff;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.27);
	padding: 8px;
	height: 56px;
	flex-wrap: wrap;
}

.example-spacer {
	flex: 1 1 auto;
}

.custom-sidenav {
	border-radius: 0px 32px 0px 0px;
	background: #fbffff;
	/* mini_shadow */
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.27);
	min-width: 120px;
	padding: 10px;
}

.menu-button {
	color: #fff;
}

.item-icon {
	color: #a0a9bf;
}

.item-text {
	color: #0b163e;
}

mat-nav-list {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

mat-list-item:hover,
.side-nav-actions-active {
	::ng-deep {
		.item-icon,
		.item-text {
			color: #3f9af5;
		}
	}
	background: transparent !important;
}

.cls-icon {
	margin-right: 11px;
	max-width: 130px;
}

.sidenav-content {
	display: flex;
	height: 100%;
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	justify-content: center;
}
